.notes-container{
  background-color: rgb(255, 250, 238);
  color: rgb(255, 255, 255);
  height: 100%;
  padding: 20px 20px 0px 20px;

}

.notes-container h1{
  color: rgb(132, 132, 132);
}


.card{
  background-color: rgb(165, 235, 118);
  padding: 15px 15px 30px 15px;
  margin: 10px 0px;
  box-shadow: 2px 2px 5px rgb(190, 190, 190);
  border-radius: 5px;
  position: relative;
}

.card input::selection{
  background: #7ad98d;
}
.textarea::selection{
  background: #7ad98d;
}

.card .title-box{
  margin: 10px 5px;
}

.card .text-box{
  border-top: 2px solid rgb(98, 192, 102);
  /* display: none; */
  padding: 5px;
}

.card .scroll-box{
  min-height: 50px;
  max-height: 150px;
  overflow: auto;
  
}

.card .textarea,
.card input{
  border: none;
  background: transparent;
  outline: none;
  color: rgb(21, 108, 30);
}

.card input{
  font-weight: bold;
  width: 90%;
  font-size: 20px;
}

.card .textarea{
  width: 100%;
  font-size: 18px;
}

.scroll-box::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scroll-box::-webkit-scrollbar-track {
  border-radius: 6px;
  border-width:0px;
}

/* Handle */
.scroll-box::-webkit-scrollbar-thumb {
  background: #2eae48; 
  border-radius: 6px;
}

/* Handle on hover */
.scroll-box::-webkit-scrollbar-thumb:hover {
  background: #218d36; 
}


.toolbox{
  border-style: none;
  font-size: 20px;
  align-content: center;
  align-items: center;
  position: absolute;
  bottom: 3px;
  right: 6px;  
  color: rgb(70, 188, 90);
  opacity: 0;
  transition: opacity 500ms ease-out;
  display: flex;
  flex-direction: row;
}

.toolbox i{
  cursor: pointer;
  margin: 0px 2px;
}

.card:hover .toolbox{
  opacity: 1;
}