:root{
  --bg:white;
}


/* GENERAL STYLES */

@font-face {
	font-family: Roboto-Light;
	src: url("../fonts/Roboto-Light.ttf");
}

*{
  /* font-family: Roboto; */
  font-family: Roboto-Light;
  margin: 0;
  padding: 0;
}

html{
  padding: 0.1px;
  overflow-y: hidden;
}

body{
  padding: 0.1px;
  box-sizing: border-box;
  background-color:white;
  /* background-color: blueviolet; */
  height: 100vh;
  overflow-y: hidden;
}

a::selection,
input::selection,
span::selection{
  background-color: rgb(100,100,100,0.1);
}

/* MAIN CONTAINER */

.main-container{
  position: relative;
  height: calc(100% - var(--navbar-height));
  display: flex;
  flex-direction: row;
  padding: 0.1px;
  background-color: black;
  /* background-color: beige; */
  z-index: 0;
  overflow-y: hidden;
}

/* MAIN CONTAINER */


/* GENERAL */

/* Avoid Select Icons */

a{
  text-decoration-line: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

i{
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}