/*   D R A W E R   */
.drawer{
  width: 250px;
  height: 100%;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(250, 247, 183);
  z-index: 1;
}

/*   D R A W E R   */

/*   I N P U T   G R O U P   */
.note-group{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(205, 202, 191);
  position: relative;
}

.note-group:hover{
  background-color: rgb(220,220,220,0.2);
}
/*   I N P U T   G R O U P   */

/*   I N P U T   G R O U P   I N P U T   */

.note-group input{
  border: none;
  background: none;
  font-size: 24px;
  width: 100%;
  padding: 10px;
  outline: none;
  /* margin: 5px; */
  box-sizing: border-box;
  color: rgb(192, 173, 138);
  font-weight: bolder;
}

#group-ph input::placeholder{
  color: rgb(177, 169, 153);
}

#group-ph input:focus::placeholder{
  color: transparent;
}


/*   I N P U T   G R O U P   I N P U T   */

/*   I N P U T   G R O U P   I C O N   B U T T O N S   */

.note-group i{
  font-size: 25px;
  color: rgb(190, 190, 165);
  background-color: none;
  cursor: pointer;
  outline: none;
}

.note-group .btn-group-drop{
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.note-group:hover .btn-group-drop{
  opacity: 1;
}

.note-group > .btn-group-save{
  margin-right: 5px;
}

.note-group > .btn-group-save:hover{
  color: rgb(156, 156, 121);
}

/*   I N P U T   G R O U P   I C O N   B U T T O N S   */

/*   I N P U T   G R O U P   D R O P D O W N   M E N U   */

.note-group .drop-menu{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  transform: translateX(100%);
  background-color: gray;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 100;
  outline: none;
  box-shadow: 1px 1px 10px gray;
}

.note-group .drop-menu > span{
  box-sizing: border-box;
  padding: 1px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  /* background-color: aqua; */
  border-bottom: 1px solid rgb(190, 190, 190);
  cursor: pointer;
}

.note-group .drop-menu > span:hover{
  background-color: rgb(120, 120, 120);
}

/*   I N P U T   G R O U P   D R O P D O W N   M E N U   */


/*   M E D I A   Q U E R I E S   */

/*   S M A L L   D E V I C E   */
@media screen and (max-width : 450px) {

  .drawer{
    width: 180px;
  }

  .drawer .note-group input{
    font-size: 16px;
  }

}  

/*   D R A W E R   O V E R L A P   Q U E R Y   */
@media screen and (max-width : 900px) {
  .drawer{
    /* width: 300px; */
    /* To Overlap Notes */
    position: absolute;
    top:0px;
    left: 0px;
    /* background-color: aqua; */
  }
}

/*   M E D I A   Q U E R I E S   */