:root{
  --navbar-height:50px;
  --navar-bg:rgb(247, 242, 156);
  --navar-fg:rgb(187, 180, 50);
  --navar-fg-hover:rgb(206, 199, 63);
  --nav-text-size:22px;
  --icon-size:25px;
}

/*   G E N E R A L   */

#nav-tools i,
.navbar i{
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  color: var(--navar-fg);
}

/*   G E N E R A L   */

/*   B U T T O N   D R A W E R   */

.navbar .btn-drawer{
  box-sizing: border-box;
  padding: 5px;
  margin-right: 5px;
}

.navbar .btn-drawer:hover{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

/*   B U T T O N   D R A W E R   */

/*   N A V   B A R   */

.navbar{
  /* Position Relative Needed to overlap shadow */
  position: relative;
  background-color: var(--navar-bg);
  color: var(--navar-fg);
  box-shadow: 0px 2px 5px rgba(65, 65, 65, 0.2);
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  padding: 0px 10px;
}

#nav-title{
  margin-left: 5px;
  font-weight: bolder;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: var(--nav-text-size);
}

/*   N A V   B A R   */

/*   N A V   T O O L S   */

#nav-tools{
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  z-index: 200;
  visibility: visible !important;
}

#nav-tools > a{
  padding: 3px 5px;
  margin-left: 10px;
  margin-right: 5px;
  text-align: center;
  font-size: var(--nav-text-size);
  color: var(--navar-fg);
}

#nav-tools > a:hover{
  color: var(--navar-fg-hover);
}

.username{
  color: var(--navar-fg);
  font-weight: bolder;
  font-size: var(--nav-text-size);
}

.btn-sign-up{
  border: 1px solid rgba(255, 255, 255, 0.58);
  border-radius: 5px;
}

/*   N A V   T O O L S   */

/*   N A V   T O O L S   S M A L L   */

#nav-tools-sm{
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*   N A V   T O O L S   S M A L L   */


/*   M E D I A   Q U E R I E S   */

/*   S M A L L   D E V I C E   */

@media screen and (max-width : 450px) {

  #nav-tools{
    display: flex;
    flex-direction: column;
    top: var(--navbar-height);
    background-color: var(--navar-bg);
    height: fit-content;
    padding: 5px;
    z-index: 90;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
  }

  #btn-logout > span{
    display: block;
  }
  #btn-logout > i{
    display: none;
  }

  #nav-tools-sm{
    display: flex;
  }

  #nav-tools>.username{
    display: none;
  }
}

/*   P C   */
@media screen and (min-width : 450px) {
  #nav-tools{
    top: 0px;
    flex-direction: row;
    height: var(--navbar-height);
  }

  #nav-tools-sm{
    display: none;
  }

  #btn-logout{
    line-height: 0;
  }

  #btn-logout > span{
    display: none;
  }
  #btn-logout > i{
    display: block;
  }
}

/*   M E D I A   Q U E R I E S   */