:root{
  --title-size: 22px;
  --textarea-size: 20px;
  --note-bg:rgb(165, 235, 118);
  --icon-bg: rgb(70, 188, 90);
  --sel-bg:rgb(122, 217, 141);
  --text-fg: rgb(21, 108, 30);
}



/*   N O T E S   C O N T A I N E R   */

.notes-container{
  background-color: rgb(255, 250, 238);
  /* background-color: blue; */
  color: rgb(255, 255, 255);
  /* height: 100%; */
  padding: 40px 30px 1000px 10px; /* T R B L */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

/*   N O T E S   C O N T A I N E R   */

/*   N O T E   P H   */

#note-ph{
  margin-bottom: 20px;
  position: relative;
}

#note-ph>.btn-add{
  color: rgba(46, 174, 72, 0.62);
  font-weight: bold;
  position: absolute;
  right:-10px;
  bottom:-25px;
  font-size: 40px;
  background-color: rgba(159, 255, 74, 0.584);
  border-radius: 25px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  /* visibility: hidden; */
}

/*   N O T E   P H   */

/* N O T E */

.note{
  /* background-color: var(--note-bg); */
  margin-top: 20px;
  box-shadow: 2px 2px 5px rgb(190, 190, 190);
  border-radius: 5px;
  width: 600px;
  position: relative;
}

.note:focus{
  outline: none;
}

/* N O T E */

/*   T I T L E   &   T E X T A R E A   */

.note > .title,
.note .textarea{
  box-sizing: border-box;
  border: none;
  background: transparent;
  outline: none;
  color: var(--text-fg);
}

.note > .title::selection,
.note .textarea::selection{
  background: rgba(97, 97, 97, 0.2);
}

/*   T I T L E   &   T E X T A R E A   */

/* T I T L E */

.note > .title{
  font-size: var(--title-size);
  font-weight: bolder;
  width: 100%;
  padding: 10px 0px 10px 15px;
  /* box-sizing: border-box; */
}

/* T I T L E */

/* T E X T A R E A */

.note .textarea{
  font-size: var(--textarea-size);
  text-align: justify;
  display: block;
  font-weight: 500;
  padding: 0px 20px 10px 20px; /* T R B L */
}

.note .text-box{
  padding: 10px 0px; /* V H */
  border-top: 2px solid;
  display: flex;
  flex-direction: row;
  position: relative;
}

.note .scroll-box{
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
}

/* T E X T A R E A */


/* S C R O L L B A R */

.scroll-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-box::-webkit-scrollbar-track {
  border-radius: 6px;
  border-width:0px;
}

/* Handle */
.scroll-box::-webkit-scrollbar-thumb {
  background-color: #65656561; 
  border-radius: 6px;
  visibility: hidden;
}

/* Handle on hover */
.scroll-box::-webkit-scrollbar-thumb:hover {
  background-color: #3b3b3b63; 
  visibility: visible;
}

.text-box:hover .scroll-box::-webkit-scrollbar-thumb{
  visibility: visible;
}

/* S C R O L L B A R */


/* T O O L S   B O X */

.note .tool-box{
  height: 100%;
  /* background-color: var(--note-bg); */
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  right: -55px;
  top:0px;
  display: grid;
  grid-template-rows: 30px 1fr;
  justify-content: space-around;
  row-gap: 10px;
  opacity: 0;
  transition: opacity ease-in-out 0.5s, visibility 0.5s;
  visibility: hidden;
}

.note:hover .tool-box{
  opacity: 1;
  visibility: visible;
}

.note .tool-box i{
  display: block;
  font-size: 22px;
  color: var(--icon-bg);
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  background-color: var(--note-bg);
  /* background-color: red; */
  padding: 5px;
  border-radius: 20px;
}

/* T O O L S   B O X */
