{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color Notes</title>

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" type="text/css" href="{% static 'notes/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'notes/css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'notes/css/drawer.css' %}">
</head>

<body>

  <nav class="navbar">
    <i id="btn-drawer" class="material-icons btn-drawer" onclick="toggleDrawer()" role="button">&#xe5d2</i>
    <span id="nav-title">COLOR NOTES</span>
    <i id="btn-nav-tools" class="material-icons" onclick="toggleNavTools()" role="button">&#xe5d4</i>
  </nav>

  <div id="nav-tools">
    {% if user.is_authenticated %}
    <span class="btn-username">{{user.username}}</span>
    <a class="btn-logout" href="{% url 'users:logout' %}?next={% url 'notes:notes' %}">
      <i class="material-icons">&#xe9ba;</i></a>
    {% else %}
    <a href="{% url 'users:login' %}">LOGIN</a>
    <a class="sign-up" href="{% url 'users:register' %}">SIGN UP</a>
    {% endif %}
  </div>

  <div class="main-container">

    <div id="drawer" class="drawer">
      <div id="group-ph" class="note-group">
        <input type="text" placeholder="Enter group title" onkeyup="onKeyUpGroupInput()"
          onkeydown="onKeyDownGroupInput(event)">
        <i class="material-icons btn-group-add" onclick="onClickAddGroup()">&#xe145</i>
      </div>
      <div id="drawer-scroll"></div>
    </div>

    {% block content %}

    {% endblock %}
  </div>

</body>

<script>
  const csrftoken = "{{ csrf_token }}";
  const currentUrl = "{{ request.get_full_path }}";
  const user = "{{request.user}}";
</script>

<script src="{% static 'notes/js/drawer.js' %}"></script>
<script src="{% static 'notes/js/drawerCallbacks.js' %}"></script>
<script src="{% static 'notes/js/navbar.js' %}"></script>

<script type="text/javascript">

  /*   I N I T   */

  const noteGroups = JSON.parse("{{ noteGroups|escapejs }}");

  noteGroups.forEach(noteGroup => {
    createNoteGroup(noteGroup.id, noteGroup.title);
  });

  currNoteGroup = drawerScroll.firstChild;

  if (currNoteGroup == null) {
    setNotePHDisplay(false);
  }

  /*   D R A W E R   C A L L B A C K S   */

  //   C R E A T E
  onCreateNoteGroup(groupTitle => {
    createGroupRequest(groupTitle, response => {
      if (response.success) {
        const group = createNoteGroup(response.groupId, groupTitle);
        clearGroupPH();
        // False prevents from trigger read notes callback on new group.
        selectGroup(group, false);
        if (drawerScroll.children.length === 1) {
          setNotePHDisplay(true);
        }
      }
    });
  });

  //   R E A D
  onSelectNoteGroup(groupId => {
    readGroupRequest(groupId, response => {
      clearNoteElements();
      addNotesElement(response.notes);
    });
  });


  //   U P D A T E
  onUpdateGroup((groupId, groupTitle) => {
    updateGroupRequest(groupId, groupTitle, response => {
      if (response.success) {
        navTitle.innerHTML = groupTitle;
        // TODO : Future Data Saving Ack for User.
        // console.log("UPDATE SUCCESS !");
      }
    });
  });


  //   D E L E T E
  onDeleteGroup((groupId, groupIdx) => {
    deleteGroupRequest(groupId, response => {
      if (response.success) {
        clearNoteElements();
        deleteNoteGroup(groupId);
        if (drawerScroll.children.length === 0) {
          setNotePHDisplay(false);
        } else {
          selectGroup(drawerScroll.firstChild);
        }
      }
    });
  });

  /*   F U N C T I O N S   */

  function isUserAnonymous() {
    return user === "AnonymousUser";
  }

  /*   D E B U G   P U R P O S E   */
  toggleDrawer();
</script>

</html>