{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Color Notes</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" type="text/css" href="{% static 'notes/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'notes/css/navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'notes/css/drawer.css' %}">
</head>

<body>

  <nav class="navbar">
    <i id="btn-drawer" class="material-icons btn-drawer" onclick="toggleDrawer()" role="button">&#xe5d2</i>
    <span id="nav-title">COLOR NOTES</span>
    {% if user.is_authenticated %}
      <span id="btn-username">{{user.username}}</span>
    {% endif %}
    <i id="btn-nav-tools" class="material-icons" onclick="toggleNavTools()" role="button">&#xe5d4</i>
  </nav>

  <div id="nav-tools">
    {% if user.is_authenticated %}
    <a id="btn-logout" href="{% url 'users:logout' %}?next={% url 'notes:notes' %}">
      <span>LOGOUT</span>
      <i class="material-icons">&#xe9ba</i>
    </a>
    {% else %}
    <a href="{% url 'users:login' %}">LOGIN</a>
    <a class="sign-up" href="{% url 'users:register' %}">SIGN UP</a>
    {% endif %}
  </div>

  <div class="main-container">

    <!-- <div id="empty-message">
      <img class="logo" width="100px" height="100px" src="{% static 'notes/images/logo_bw.svg' %}" alt="Logo">
      <h2 class="instructions">Create a group to start creating notes</h2>
      <h3>Shortcuts</h3>
      <div class="shortcuts-box">
        <h3 class="shortcuts-title">Groups</h3>
        <div class="shortcuts">
          <h4 class="first">Edit Group Title :</h4>
          <h4><strong>Double Click</strong> on group title</h4>
          <h4 class="first">End Group Edition :</h4>
          <h4>Press <strong>Enter</strong></h4>
        </div>
        <h3 class="shortcuts-title">Notes</h3>
        <div class="shortcuts">
          <h4 class="first">Add new note :</h4>
          <h4>Press <strong>Control</strong> + <strong>Enter</strong></h4>
          <h4 class="first">End Group Edition :</h4>
          <h4>Press <strong>Enter</strong></h4>
        </div>
      </div>
    </div> -->

    <div id="drawer" class="drawer">
      <div id="group-ph" class="note-group">
        <input type="text" placeholder="Enter group title" onkeyup="onKeyUpGroupInput()"
          onkeydown="onKeyDownGroupInput(event)">
        <i class="material-icons btn-group-add" onclick="onClickAddGroup()">&#xe145</i>
      </div>
      <div id="drawer-scroll"></div>
    </div>

    {% block content %}

    {% endblock %}
  </div>

</body>

<script>
  const csrftoken = "{{ csrf_token }}";
  const currentUrl = "{{ request.get_full_path }}";
  const user = "{{request.user}}";
</script>

<script src="{% static 'notes/js/drawer.js' %}"></script>
<script src="{% static 'notes/js/drawerCallbacks.js' %}"></script>
<script src="{% static 'notes/js/navbar.js' %}"></script>

<script type="text/javascript">

  /*   I N I T   */

  const noteGroups = JSON.parse("{{ noteGroups|escapejs }}");

  noteGroups.forEach(noteGroup => {
    createNoteGroup(noteGroup.id, noteGroup.title);
  });

  currNoteGroup = drawerScroll.firstChild;

  if (currNoteGroup == null) {
    setNotePHDisplay(false);
    setEmptyMessageVisibility(true);
  } else {
    setEmptyMessageVisibility(false);
    selectGroup(currNoteGroup);
  }

  /*   D R A W E R   C A L L B A C K S   */

  //   C R E A T E
  onCreateNoteGroup(groupTitle => {
    createGroupRequest(groupTitle, response => {
      if (response.success) {
        const group = createNoteGroup(response.groupId, groupTitle);
        clearGroupPH();
        clearNoteElements();
        selectGroup(group);
        if (drawerScroll.children.length === 1) {
          setEmptyMessageVisibility(false);
          setNotePHDisplay(true);
        }
      }
    });
  });

  //   R E A D
  onSelectNoteGroup(groupId => {
    readGroupRequest(groupId, response => {
      clearNoteElements();
      addNotesElement(response.notes);
    });
  });


  //   U P D A T E
  onUpdateGroup((groupId, groupTitle) => {
    updateGroupRequest(groupId, groupTitle, response => {
      if (response.success) {
        navTitle.innerHTML = groupTitle;
        // TODO : Future Data Saving Ack for User.
        // console.log("UPDATE SUCCESS !");
      }
    });
  });


  //   D E L E T E
  onDeleteGroup((groupId, groupIdx) => {
    deleteGroupRequest(groupId, response => {
      if (response.success) {
        clearNoteElements();
        deleteNoteGroup(groupId);
        if (drawerScroll.children.length === 0) {
          setNotePHDisplay(false);
        } else {
          selectGroup(drawerScroll.firstChild);
        }
        navTitle.innerHTML = "COLOR NOTES";
      }
    });
  });

  /*   F U N C T I O N S   */
  // const emptyMessage = document.getElementById("empty-message");

  function setEmptyMessageVisibility(state) {
    // emptyMessage.style.setProperty("display", state ? "inline-block" : "none");
  }

  /*   D E B U G   P U R P O S E   */
  toggleDrawer();
</script>

</html>