{% extends 'notes/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'notes/css/notes.css' %}">

<script>
  const csrftoken = "{{ csrf_token }}";
  const currentUrl = "{{ request.get_full_path }}";
</script> 

<script src="{% static 'notes/js/notes.js' %}"></script>

<div class="notes-container">
  
  <div class="card card-generator">  
    <form id="form-creator" method="post">
      <input id="form-input" name="title" placeholder="Title" value = "{{note.title}}" maxlength="100" autocomplete="off" onclick="openNoteCreator()">
      <!-- <div id="text-box-generator" class="text-box" style="display: none;"> -->
      <div id="text-box" class="text-box">
        <div class="scroll-box">
          <span id="form-input" type="text" class="textarea" name="text" role="textbox" contenteditable ></span>
        </div>
      </div>
      <i class="material-icons btn-close" role="buttton">&#xe5cd</i>
    <div class="btn-save" role="button" onclick="saveNewNote()">SAVE</div>
  </form>
  
  </div>

  {% for note in notes %}
  <div class="card">
    <form id="{{note.id}}" method="post">
      <input id="form-input" name = "title" placeholder="Title" value = "{{note.title}}" maxlength="100" autocomplete="off" onkeyup="delayTrigger('{{note.id}}')"></input>
      <div class="text-box">
        <div class="scroll-box">
          <span id="form-input" type="text" class="textarea" name="text" role="textbox" contenteditable placeholder="Text" onkeyup="delayTrigger('{{note.id}}')">{{note.text}}</span>
        </div>
      </div>
      <i class="material-icons btn-close" role="button" >&#xe5cd</i>
      <i class="material-icons btn-color" role="button">&#xe40a</i>
    </form>
  </div>
  {% endfor %}
</div>

{% endblock %}