<div id="empty-message">
  <img class="logo" width="100px" height="100px" src="{% static 'notes/images/logo_bw.svg' %}" alt="Logo">
  <h2 class="instructions">Create a group to start creating notes</h2>
  <h3>Shortcuts</h3>
  <div class="shortcuts-box">
    <h3 class="shortcuts-title">Groups</h3>
    <div class="shortcuts">
      <h4 class="first">Edit Group Title :</h4>
      <h4><strong>Double Click</strong> on group title</h4>
      <h4 class="first">End Group Edition :</h4>
      <h4>Press <strong>Enter</strong></h4>
    </div>
    <h3 class="shortcuts-title">Notes</h3>
    <div class="shortcuts">
      <h4 class="first">Add new note :</h4>
      <h4>Press <strong>Control</strong> + <strong>Enter</strong></h4>
      <h4 class="first">End Group Edition :</h4>
      <h4>Press <strong>Enter</strong></h4>
    </div>
  </div>
</div>