{% extends 'notes/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'users/forms.css' %}">

<div class="form-container">
	<a href="{% url 'notes:notes' %}"><img class="form-logo" src="{% static 'users/images/logo.png' %}" alt="Logo"></a>
	<p class="form-title">Sign Up to ColorNotes</p>
	<form method="post"  onsubmit ="return verifyPassword(event)">
		{% csrf_token %}
		<div class="form-group">
			<label for="username" value="username">Username</label>
			<div class="box-icon-input">
				<i class="material-icons">&#xe7fd;</i>
				<input type="text" name="username" placeholder="Username" maxlength=20 required autofocus>
			</div>
			
			<label></label>
			<label for="password1" value="password1">Password</label>
				<div class="box-icon-input">
					<i class="material-icons">&#xe897;</i>
					<input id="pass1" type="password" name="password1" placeholder="Password" minlength="6" maxlength=20 required>
				</div>
				
			<label for="password2" value="password2">Confirm Password</label>
			<div class="box-icon-input">
				<i class="material-icons">&#xe897;</i>
				<input id="pass2" type="password" name="password2" placeholder="Confirm Password" minlength="6" maxlength=20 required oninput="setCustomValidity('');">
			</div>

		</div>
		<button class="btn-submit" type="submit">Create Account</button>
	</form>

	<div class="form-footer">
		<p>Already have an account? <a href="{% url 'users:login' %}">Login Here</a></p>
	</div>
</div>

</div>
</body>

<script type="text/javascript">
	function verifyPassword(event){
		let pass1 = document.getElementById("pass1");
		let pass2 = document.getElementById("pass2");
		if ( pass1.value === pass2.value ){
      return true;
    }else{
			pass2.setCustomValidity("Password doesn't match!")
      pass2.reportValidity();
			event.preventDefault();
      return false;
    }
	}

</script>

{% endblock %}