:root{
  --bg:white;
}

/*   M A I N   C O N T A I N E R   */

.main-container{
  padding: 0.1px;
  background-color: rgb(255, 253, 210);
  height: 100%;
  overflow-y: auto;
}

/*   M A I N   C O N T A I N E R   */
